#producList {
  width: 100%;
  height: 100%;
  padding: 0 0.13rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 1.5rem;
}
#producList .msg {
  width: 48%;
  height: 30%;
  border: 0.035rem solid #e4e4e4;
  margin: 0.05rem 0;
  box-shadow: 0 0 0.2rem;
}
#producList .msg img {
  width: 100%;
  height: 82%;
}
#producList .msg .producList_jia {
  padding: 0.05rem;
  background: #e4e4e4;
}
#producList .msg .producList_jia div:nth-child(1) span:nth-child(1) {
  width: 100%;
  color: red;
  margin: 0 0.15rem;
}
#producList .msg .producList_jia div:nth-child(1) .text {
  font-size: 0.1rem;
  text-decoration: line-through;
}
#producList .msg .producList_jia div:nth-child(2) {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 0.2rem;
}
#producList .msg .producList_jia div:nth-child(2) span {
  margin: 0 0.15rem;
}
