#producList {
  height: auto;
  padding: 0.13rem  0.13rem 1.5rem 0.13rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#producList .msg {
  width: 48%;
  height: 30%;
  border: 0.035rem solid #e4e4e4;
  margin: 0.05rem 0;
  box-shadow: 0 0 0.2rem;
}
#producList .msg img {
  width: 100%;
  height: 4.2rem;
}
#producList .msg h5 {
  width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
#producList .msg .producList_jia {
  padding: 0.05rem;
  background: #e4e4e4;
}
#producList .msg .producList_jia div:nth-child(1) span:nth-child(1) {
  width: 100%;
  color: red;
  margin: 0 0.15rem;
}
#producList .msg .producList_jia div:nth-child(1) .text {
  font-size: 0.1rem;
  text-decoration: line-through;
}
#producList .msg .producList_jia div:nth-child(2) {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 0.2rem;
}
#producList .msg .producList_jia div:nth-child(2) span {
  margin: 0 0.15rem;
}
#producList .mint-button--danger {
  margin-top: 0.3rem;
}
